
<div class = "row">
  <div class = "col s8 offset-s2">
 <div class="card #fdfbd5">
            <div class="card-content black-text">
<table class="bordered hoverable">
  <thead>
    <h4>Order Item Breakdown</h4>

    <tr>
      <th width="100">Quantity</th>
      <th width="300">Item</th>
      <th width="100">Unit Price</th>
      <th width="100">Subtotal</th>
      <th width="100">Shipped</th>
      <% if controller.controller_name == 'home' %>
        <th>&nbsp;</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% order_items.each do |oi| %>
      <tr>
        <td align="center"><%= oi.quantity %></td>
        <td><%= link_to oi.item.name, item_path(oi.item) %></td>
        <td align="center"><%= number_to_currency oi.item.price_on_date(date) %></td>
        <td align="right"><%= number_to_currency oi.subtotal(date) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
       <!--  -->
          <td>
            <% if OrderItem.shipped.include? oi %>
              Yes
              <% else %>
              No
              <% end %>

          </td>

          <%if current_user.role?(:shipper) %>
          <td>

             <a class="waves-effect waves-dark btn red darken-4 right" <%= link_to "Ship!", ship_item_path(oi), :method => :post%></a>


          <%end%>
      </tr>
    <% end %>
  </tbody>
</table>