 <div class="row">
        <div class="col s8 offset-s2">
            <div class="card-content black-text">

              <h4> New Address </h4>

<%= simple_form_for @address, html: { class: 'form-horizontal' } do |f| %>

 <% if @address.errors.any? %>
  
      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

  <% end %>
  <fieldset>
   

    <% if current_user.role?(:admin) %>
      <%= f.input :customer_id, collection: Customer.active.alphabetical, include_blank: true, input_html: {class: "avg"} %>
    <% else %>
      <%= f.input :customer_id, as: :hidden, input_html: { value: current_user.customer.id } %>
    <% end %>

<div class="input-field col s12">

    <%= f.input :recipient, input_html: {class: "avg"} %>
    </div>
<div class="input-field col s12">

    <%= f.input :street_1, input_html: {class: "avg"} %>

    </div>
<div class="input-field col s12">

    <%= f.input :street_2, input_html: {class: "avg"} %>
    </div>
<div class="input-field col s12">

    <%= f.input :city, input_html: {class: "avg"} %>
    </div>
<div class="input-field col s12">

    <%= f.input :state, collection: Address::STATES_LIST, include_blank: true, input_html: {class: "avg"} %>
    </div>
<div class="input-field col s12">

    <%= f.input :zip, input_html: {class: "avg"} %>
    </div>
<div class="input-field col s12">

<%=f.check_box :active %>
<%=f.label :active %>

    
</div>

<div class="input-field col s12">

<%=f.check_box :is_billing %>
<%=f.label :is_billing %>
</br>

    
<div class="input-field col s12 left">
        <%= f.submit nil, :class => 'button radius' %></div>

  </div>

</div>



    </br>
      <%= link_to 'Cancel', addresses_path, :class => 'button alert radius' %>
    
  </fieldset>
<% end %>
</div>
</div>
</div>
</div>