
Available Items

<% if @active_items.empty? %>
  <h4>No active items at this time.</h4>
<% else %>
  <h4> Items</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="100">Name</th>
        <th width="50">Price</th>
        <th width="50">Units</th>
<!--         <th width="250">Items</th>
        <th width="100">Cost</th> -->
      </tr>
    </thead>
    <tbody>
      <% @active_items.each do |item| %>
        <tr>
      
          <td><%=link_to item.name, item_path(item) %><br /> </td>
         
<!--          watch out for nil
 -->          <td>$<%=("%.2f" % item.current_price) %></td>



         <% if (item.category == "bread") %>
                 <td>  <%= item.units_per_item.to_s + " " + "loaf" %></td>
              <%else%>
                 <td>  <%= item.units_per_item.to_s + " " + item.category %></td>
                 <%end%>

                    <td><%=link_to "add to cart",add_item_to_cart(item.id) %> <td> 

        </tr>

      
        
      <% end %>
    </tbody>
  </table>
  <% end %>
  <%= will_paginate @active_items, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  


