
    <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
<!--   <p>
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date %>
  </p>
 -->
    <input type="date" class="datepicker">
    <%= f.label :start_date %>
  </input>
