<h3><%= @item.name %></h3>

<p>
  <b>Description</b>: <%= @item.description %>
</p>

<p>
  <b>Picture</b>: This will be filled in
</p>

<p>
  <b>Category</b>: <%= @item.category %>
</p>

<p>
  <b>Units Per Item</b>: <%= @item.units_per_item %>
</p>

<p>
  <b>Units Per Item</b>: <%= @item.weight %>
</p>

<p>
  <b>Active</b>: <%= @item.active ? 'Yes' : 'No' %>
</p>

<p>
</p>